<ion-header>
  <ion-toolbar>
    <ion-title>
      INTRO
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <swiper-container
    #swiperRef
    pagination="true"
    slides-per-view="1"
    (swiperswiper)="initSwiper()"
    [style.background-color]="colorActual"
    [style.color]="textoActual"
    >
    <swiper-slide *ngFor="let onboarding of onboardings; let i = index">
      <div class="slide-content">
        <h2>{{ onboarding.title }}</h2>
        <<div
        class="background"
        [style.background-image]="'url(' + onboarding.image + ')'"
      ></div>
        <p>{{ onboarding.description }}</p>

        <ion-button
          *ngIf="isLastSlide && i === onboardings.length - 1"
          (click)="goBack()"
          expand="full"
          class="button-home"
        >
          Ir a Home
        </ion-button>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>