<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end" class="button">
      <ion-icon name="heart" (click)="openFavorites()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end" class="button">
      <ion-icon name="sunny-outline" *ngIf="!modeTheme" (click)="mode()"></ion-icon>
      <ion-icon name="moon-outline" *ngIf="modeTheme" (click)="mode()"></ion-icon>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-wrapper">
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    [style.background-color]="colorActual"
    [style.color]="textoActual"
    >
    <swiper-slide *ngFor="let album of albums" (click)="showSongsByAlbum(album.id)">
      <div class="slide-content">
        <img [src]="album.image"/>
        <p>{{ album.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    [style.background-color]="colorActual"
    [style.color]="textoActual"
    >
    <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtists(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image"/>
        <p>{{ artist.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  </div>
</ion-content>

<ion-footer
    [style.background-color]="colorActual"
    [style.color]="textoActual">
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-start">{{ formatTime(currentSong?.currentTime) || "0:00" }}</ion-col>
      <ion-col class="ion-text-end">{{ formatTime(getRemainingTime()) || "0:00" }}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-progress-bar [value]="newTime || 0"></ion-progress-bar>
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <ion-icon
          [name]="isFavorite(song) ? 'heart' : 'heart-outline'"
          (click)="toggleFavorite(song)">
        </ion-icon>
      </ion-col>
      <ion-col size="10">
        <ion-text>{{ song.name || "" }}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-icon name="play" *ngIf="!song.playing" (click)="play()"></ion-icon>
        <ion-icon name="pause" *ngIf="song.playing" (click)="pause()"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>