<ion-header>
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="cambiarTema()" expand="full">
    Cambiar Tema Claro/Oscuro
  </ion-button>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    [style.background-color]="colorActual"
    [style.color]="textoActual"
    >
    <swiper-slide *ngFor="let album of albums" (click)="showSongsByAlbum(album.id)">
      <div class="slide-content">
        <img [src]="album.image"/>
        <p>{{ album.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
  <swiper-container
    pagination="true"
    loop="true"
    slides-per-view="1"
    [style.background-color]="colorActual"
    [style.color]="textoActual"
    >
    <swiper-slide *ngFor="let artist of artists" (click)="showSongsByArtists(artist.id)">
      <div class="slide-content">
        <img [src]="artist.image"/>
        <p>{{ artist.name }}</p>
      </div>
    </swiper-slide>
  </swiper-container>
</ion-content>
