.slide-content {
  text-align: center;
  padding: 50px;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 10% 0;
  }

  p {
    font-size: 15px;
    text-align: center;
    top: auto;
  }
}