ion-content {
  --padding-top: 0;
  --padding-bottom: 0;
}

.content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
}

swiper-container {
  flex: 1;
  min-height: 0;
  width: 100%;
}

.slide-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 26px;
  text-align: center;

  img {
    width: 50%;
    max-width: 120px;
    height: 120px;
    border-radius: 5px;
    margin: 16px 0;
  }

  p {
    font-size: 14px;
    text-align: center;
    top: 10px;
  }
}

.button{
  text-align: center;
  border-radius: 1px;
  border: 1px;
  margin: 2px 0;
}