.slide-content {
  text-align: center;
  padding: 10px;

  img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 10px;
    margin: 10% 0;
  }

  h2, h3 {
    font-size: 25px;
    margin: 0;
  }

  p {
    font-size: 15px;
    text-align: justify;
  }
}

.bg-card-test {
  background: #ffffff;
}