.button {
  font-size: 20px;
  text-align: center;
}

.slide-content {
  text-align: center;
  padding: 26px;

  img {
    width: 50%;
    max-width: 120px;
    height: 120px;
    border-radius: 5px;
    margin: 5% 0;
  }

  p {
    font-size: 14px;
    text-align: center;
    top: auto;
  }
}