.slide-content {
  text-align: center;
  padding: 18px;

  img {
    width: 50%;
    max-width: 150px;
    height: 150px;
    border-radius: 5px;
    margin: 5% 0;
  }

  p {
    font-size: 15px;
    text-align: center;
    top: auto;
  }
}